/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.max-width {
  max-width: 1170px;
  margin: 0 auto;
}
.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #b68c5a;
  padding: 18px 29px;
  border-radius: 8px;
  border: none;
}
/*navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.img-logo img {
  color: black;
}
ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #707070;
}

/* banner style */
.banner {
  width: 100%;
  height: 550px;
  background-image: url(./images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin: 50px auto;
  border-radius: 8px;
}
.banner-content {
  max-width: 692px;
}
.banner-content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner-content p {
  color: #e7e7e7;
  font-weight: 500;
  margin-bottom: 10px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 674px;
  margin: 0 auto;
}
.search-box input {
  padding: 19px 150px;
  border: none;
  border-radius: 4px;
}
/* practice style */
.practice-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #414040;
}

.practice-des {
  color: #707070;
  max-width: 714px;
  margin-top: 10px;
}
.practice-parent {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

/* services */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 64px auto;
}
.service-card img {
  width: 72px;
  height: 72px;
}
.service-card h3 {
  font-size: 2rem;
  font-weight: 800;
  color: #414040;
  margin-top: 30px;
  margin-bottom: 24px;
}
.service-card p {
  font-weight: 500;
  color: #707070;
  margin-bottom: 30px;
  max-width: 258px;
}
.frame-img {
  width: 40px;
  height: 40px;
}
.service-card {
  padding: 20px;
  border: 1px solid beige;
  border-radius: 10px;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.hide {
  display: none;
}

/* about-client style */
.banner-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.banner-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner-des {
  font-size: 1rem;
  color: #ffffff;
}

/* question style */
.question-card {
  width: 570px;
  background-color: #f3f3f3;
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.question-parent {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px auto;
}
.img-parent {
  width: 100%;
}
