/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.max-width {
  max-width: 1170px;
  margin: 0 auto;
}
.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #b68c5a;
  padding: 18px 29px;
  border-radius: 8px;
  border: none;
}
/*navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.img-logo img {
  color: black;
}
ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #707070;
}

/* banner style */
.banner {
  width: 100%;
  height: 550px;
  background-image: url(./images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin: 50px auto;
}
.banner-content {
  max-width: 692px;
}
.banner-content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner-content p {
  color: #e7e7e7;
  font-weight: 500;
  margin-bottom: 10px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 674px;
  margin: 0 auto;
}
.search-box input {
  padding: 19px 150px;
  border: none;
  border-radius: 4px;
}
